<a href="https://colab.research.google.com/github/pratikshakirolkar/Final-Project/blob/main/Time_Series_Forcasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing_Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
#Dataset
data=pd.read_csv("/content/Data 1 MAJOR.csv")

In [3]:
data.rename(columns={"Unnamed: 0":"Date"},inplace=True)

In [4]:
#creating_new_column
data['Date']=pd.to_datetime(data["Date"],dayfirst=True)
data["year"]=data["Date"].dt.year
data["month"]=data["Date"].dt.month
data["day"]=data["Date"].dt.day

In [5]:
#specifyfirstvalues
data.head(10)

,Date,User1,User2,User3,User4,User5,User6,User7,User8,User9,...,User496,User497,User498,User499,User500,Day,month,Year,year,day
0,2021-04-01,73,273,93,419,176,118,27,6,43,...,75,175,12,46,80,4,4,2021,2021,1
1,2021-05-01,100,206,88,453,197,136,45,10,48,...,66,159,33,43,88,5,5,2021,2021,1
2,2021-06-01,44,182,92,484,178,127,16,13,55,...,72,149,36,45,100,6,6,2021,2021,1
3,2021-07-01,61,164,67,43,139,255,1,9,54,...,66,140,35,29,87,7,7,2021,2021,1
4,2021-08-01,71,197,72,16,147,121,77,7,47,...,58,147,37,36,66,8,8,2021,2021,1
5,2021-09-01,61,224,72,83,113,114,75,4,49,...,56,146,38,34,59,9,9,2021,2021,1
6,2021-10-01,67,227,73,130,136,126,86,6,44,...,57,139,34,37,67,10,10,2021,2021,1
7,2021-11-01,66,245,75,76,138,128,117,8,48,...,56,154,49,46,69,11,11,2021,2021,1
8,2021-12-01,55,266,68,523,133,100,93,7,46,...,54,149,38,36,87,12,12,2021,2021,1
9,2022-01-01,44,256,51,109,118,77,306,4,16,...,53,156,25,26,51,1,1,2022,2022,1

In [6]:
#specifylastvalues
data.tail()

,Date,User1,User2,User3,User4,User5,User6,User7,User8,User9,...,User496,User497,User498,User499,User500,Day,month,Year,year,day
19,2022-11-01,38,278,96,67,172,93,118,6,37,...,75,124,34,54,77,11,11,2022,2022,1
20,2022-12-01,39,265,67,21,137,11,78,5,26,...,71,114,32,38,69,12,12,2022,2022,1
21,2023-01-01,46,298,63,36,130,11,79,4,27,...,70,130,33,20,72,1,1,2023,2023,1
22,2023-02-01,51,248,57,46,146,9,97,3,14,...,70,141,29,21,63,2,2,2023,2023,1
23,2023-03-01,47,254,60,41,161,10,97,2,24,...,82,27,22,19,65,3,3,2023,2023,1

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Columns: 506 entries, Date to day
dtypes: datetime64[ns](1), int64(501), object(4)
memory usage: 95.0+ KB

In [8]:
#anynullvalue
data.isnull()

,Date,User1,User2,User3,User4,User5,User6,User7,User8,User9,...,User496,User497,User498,User499,User500,Day,month,Year,year,day
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
data.describe()

,User1,User2,User3,User4,User5,User6,User7,User8,User9,User10,...,User496,User497,User498,User499,User500,Day,month,Year,year,day
count,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,...,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.0
mean,63.000000,248.000000,77.583333,194.958333,149.708333,104.916667,94.791667,7.000000,40.000000,76.958333,...,67.541667,138.708333,35.166667,39.375000,77.166667,6.500000,6.500000,2021.750000,2021.750000,1.0
std,23.078317,35.751558,19.144568,233.190439,26.882157,54.164738,56.168984,3.501552,13.497182,33.909700,...,10.970233,28.309592,9.144572,11.757745,15.611219,3.526299,3.526299,0.675664,0.675664,0.0
min,38.000000,164.000000,49.000000,16.000000,106.000000,9.000000,1.000000,2.000000,14.000000,48.000000,...,53.000000,27.000000,12.000000,19.000000,51.000000,1.000000,1.000000,2021.000000,2021.000000,1.0
25%,46.750000,226.250000,66.000000,45.250000,132.250000,91.250000,77.750000,4.000000,27.750000,57.750000,...,57.750000,133.000000,31.250000,31.250000,66.750000,3.750000,3.750000,2021.000000,2021.000000,1.0
50%,55.000000,255.000000,72.500000,90.500000,145.000000,118.000000,94.000000,6.500000,45.000000,72.500000,...,68.000000,144.000000,35.500000,40.500000,73.000000,6.500000,6.500000,2022.000000,2022.000000,1.0
75%,71.500000,274.000000,89.000000,268.500000,167.500000,128.750000,117.000000,8.250000,49.250000,77.500000,...,73.500000,150.250000,42.250000,47.250000,87.000000,9.250000,9.250000,2022.000000,2022.000000,1.0
max,134.000000,298.000000,128.000000,979.000000,218.000000,255.000000,306.000000,16.000000,55.000000,187.000000,...,92.000000,175.000000,49.000000,58.000000,110.000000,12.000000,12.000000,2023.000000,2023.000000,1.0

In [10]:
#Dataset
long_data=pd.read_csv("/content/UserData.csv")

In [14]:
#Creating_new_columns
long_data['Date']=pd.to_datetime(long_data["Date"],dayfirst=True)
long_data["year"]=long_data["Date"].dt.year
long_data["month"]=long_data["Date"].dt.month
long_data["day"]=long_data["Date"].dt.day

In [15]:
#specifyfirstvalues
long_data.head(10)

        Date  Year    Month  Day    Users  Sum of Value  year  month  day
0 2021-01-04  2021  January    4    User1            73  2021      1    4
1 2021-01-04  2021  January    4   User10            79  2021      1    4
2 2021-01-04  2021  January    4  User100           242  2021      1    4
3 2021-01-04  2021  January    4  User101           164  2021      1    4
4 2021-01-04  2021  January    4  User102           274  2021      1    4
5 2021-01-04  2021  January    4  User103           390  2021      1    4
6 2021-01-04  2021  January    4  User104            74  2021      1    4
7 2021-01-04  2021  January    4  User105             1  2021      1    4
8 2021-01-04  2021  January    4  User106             3  2021      1    4
9 2021-01-04  2021  January    4  User107            51  2021      1    4

In [16]:
#specifylastvalues
long_data.tail()

            Date  Year    Month  Day   Users  Sum of Value  year  month  day
11995 2023-01-03  2023  January    3  User95            54  2023      1    3
11996 2023-01-03  2023  January    3  User96           101  2023      1    3
11997 2023-01-03  2023  January    3  User97           160  2023      1    3
11998 2023-01-03  2023  January    3  User98            66  2023      1    3
11999 2023-01-03  2023  January    3  User99           268  2023      1    3

In [17]:
long_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          12000 non-null  datetime64[ns]
 1   Year          12000 non-null  int64
 2   Month         12000 non-null  object
 3   Day           12000 non-null  int64
 4   Users         12000 non-null  object
 5   Sum of Value  12000 non-null  int64
 6   year          12000 non-null  int64
 7   month         12000 non-null  int64
 8   day           12000 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 843.9+ KB

In [18]:
#anynullvalue
long_data.isnull()

        Date   Year  Month    Day  Users  Sum of Value   year  month    day
0      False  False  False  False  False         False  False  False  False
1      False  False  False  False  False         False  False  False  False
2      False  False  False  False  False         False  False  False  False
3      False  False  False  False  False         False  False  False  False
4      False  False  False  False  False         False  False  False  False
...      ...    ...    ...    ...    ...           ...    ...    ...    ...
11995  False  False  False  False  False         False  False  False  False
11996  False  False  False  False  False         False  False  False  False
11997  False  False  False  False  False         False  False  False  False
11998  False  False  False  False  False         False  False  False  False
11999  False  False  False  False  False         False  False  False  False

[12000 rows x 9 columns]

In [19]:
long_data.describe()

,Year,Day,Sum of Value,year,month,day
count,12000.000000,12000.000000,12000.000000,12000.000000,12000.0,12000.000000
mean,2021.750000,6.500000,129.975750,2021.750000,1.0,6.500000
std,0.661465,3.452196,116.095739,0.661465,0.0,3.452196
min,2021.000000,1.000000,1.000000,2021.000000,1.0,1.000000
25%,2021.000000,3.750000,53.000000,2021.000000,1.0,3.750000
50%,2022.000000,6.500000,100.500000,2022.000000,1.0,6.500000
75%,2022.000000,9.250000,170.000000,2022.000000,1.0,9.250000
max,2023.000000,12.000000,1599.000000,2023.000000,1.0,12.000000

In [21]:
!pip install --upgrade nbformat

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nbformat in /usr/local/lib/python3.9/dist-packages (5.8.0)
Requirement already satisfied: traitlets>=5.1 in /usr/local/lib/python3.9/dist-packages (from nbformat) (5.7.1)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.9/dist-packages (from nbformat) (5.3.0)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.9/dist-packages (from nbformat) (2.16.3)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.9/dist-packages (from nbformat) (4.3.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=2.6->nbformat) (0.19.3)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=2.6->nbformat) (22.2.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.9/dist-packages (from jupyter-core->nbformat) (3.2.0)

In [22]:
!pip install prophet

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: prophet in /usr/local/lib/python3.9/dist-packages (1.1.2)
Requirement already satisfied: pandas>=1.0.4 in /usr/local/lib/python3.9/dist-packages (from prophet) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.0 in /usr/local/lib/python3.9/dist-packages (from prophet) (2.8.2)
Requirement already satisfied: cmdstanpy>=1.0.4 in /usr/local/lib/python3.9/dist-packages (from prophet) (1.1.0)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.9/dist-packages (from prophet) (1.22.4)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from prophet) (3.7.1)
Requirement already satisfied: convertdate>=2.1.2 in /usr/local/lib/python3.9/dist-packages (from prophet) (2.4.0)
Requirement already satisfied: holidays>=0.14.2 in /usr/local/lib/python3.9/dist-packages (from prophet) (0.21.13)
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.9/dist-packages (from prophet) (4.65.0)
Requirement already satisfied: LunarCalendar>=0.0.9 in /usr/local/lib/python3.9/dist-packages (from prophet) (0.0.9)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /usr/local/lib/python3.9/dist-packages (from convertdate>=2.1.2->prophet) (0.5.12)
Requirement already satisfied: korean-lunar-calendar in /usr/local/lib/python3.9/dist-packages (from holidays>=0.14.2->prophet) (0.3.1)
Requirement already satisfied: hijri-converter in /usr/local/lib/python3.9/dist-packages (from holidays>=0.14.2->prophet) (2.2.4)
Requirement already satisfied: pytz in /usr/local/lib/python3.9/dist-packages (from LunarCalendar>=0.0.9->prophet) (2022.7.1)
Requirement already satisfied: ephem>=3.7.5.3 in /usr/local/lib/python3.9/dist-packages (from LunarCalendar>=0.0.9->prophet) (4.1.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.0.0->prophet) (0.11.0)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.0.0->prophet) (5.12.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.0.0->prophet) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.0.0->prophet) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.0.0->prophet) (1.4.4)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.0.0->prophet) (1.0.7)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.0.0->prophet) (4.39.3)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.0.0->prophet) (23.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.0->prophet) (1.16.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib>=2.0.0->prophet) (3.15.0)

In [23]:
!pip install -qy pandas==1.3.4 numpy==1.21.4 seaborn==0.9.0 matplotlib==3.5.0 scikit-learn==0.20.1

Usage:
  pip3 install [options] <requirement specifier> [package-index-options] ...
  pip3 install [options] -r <requirements file> [package-index-options] ...
  pip3 install [options] [-e] <vcs project url> ...
  pip3 install [options] [-e] <local project path> ...
  pip3 install [options] <archive url/path> ...

no such option: -y

In [24]:
import pandas as pd
from prophet import Prophet
from matplotlib import pyplot
from matplotlib.pyplot import figure
from sklearn.metrics import mean_absolute_error
import plotly.express as px
import plotly.graph_objects as go

In [25]:
model=Prophet()

In [30]:
df = long_data.groupby(long_data['Date'], as_index = False).mean()
df.head()

        Date    Year  Day  Sum of Value    year  month  day
0 2021-01-04  2021.0  4.0       148.894  2021.0    1.0  4.0
1 2021-01-05  2021.0  5.0       151.146  2021.0    1.0  5.0
2 2021-01-06  2021.0  6.0       145.644  2021.0    1.0  6.0
3 2021-01-07  2021.0  7.0       123.504  2021.0    1.0  7.0
4 2021-01-08  2021.0  8.0       123.498  2021.0    1.0  8.0

In [31]:
df = df[['Date','Sum of Value']]

In [33]:
df

         Date  Sum of Value
0  2021-01-04       148.894
1  2021-01-05       151.146
2  2021-01-06       145.644
3  2021-01-07       123.504
4  2021-01-08       123.498
5  2021-01-09       122.648
6  2021-01-10       121.440
7  2021-01-11       133.598
8  2021-01-12       122.466
9  2022-01-01       114.878
10 2022-01-02       112.996
11 2022-01-03       109.466
12 2022-01-04       150.612
13 2022-01-05       165.222
14 2022-01-06       154.350
15 2022-01-07       133.974
16 2022-01-08       127.080
17 2022-01-09       131.094
18 2022-01-10       127.804
19 2022-01-11       127.048
20 2022-01-12       120.678
21 2023-01-01       121.190
22 2023-01-02       116.402
23 2023-01-03       113.786

In [34]:
model.component_modes

In [36]:
df.columns = ['ds','y']

In [37]:
df.head()

          ds        y
0 2021-01-04  148.894
1 2021-01-05  151.146
2 2021-01-06  145.644
3 2021-01-07  123.504
4 2021-01-08  123.498

In [38]:
model.fit(df)

INFO:prophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:prophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:prophet:n_changepoints greater than number of observations. Using 18.
DEBUG:cmdstanpy:input tempfile: /tmp/tmp8ueqfzj0/hkuqcely.json
DEBUG:cmdstanpy:input tempfile: /tmp/tmp8ueqfzj0/ghvdioey.json
DEBUG:cmdstanpy:idx 0
DEBUG:cmdstanpy:running CmdStan, num_threads: None
DEBUG:cmdstanpy:CmdStan args: ['/usr/local/lib/python3.9/dist-packages/prophet/stan_model/prophet_model.bin', 'random', 'seed=97666', 'data', 'file=/tmp/tmp8ueqfzj0/hkuqcely.json', 'init=/tmp/tmp8ueqfzj0/ghvdioey.json', 'output', 'file=/tmp/tmp8ueqfzj0/prophet_modelg8xmg_er/prophet_model-20230402142015.csv', 'method=optimize', 'algorithm=newton', 'iter=10000']
14:20:15 - cmdstanpy - INFO - Chain [1] start processing
INFO:cmdstanpy:Chain [1] start processing
14:20:15 - cmdstanpy - INFO - Chain [1] done processing
INFO:cmdstanpy:Chain [1] done processing

In [39]:
future_dates = model.make_future_dataframe(periods=365,freq='d',include_history=True)
future_dates.shape

(389, 1)

In [40]:
future_dates.head()

          ds
0 2021-01-04
1 2021-01-05
2 2021-01-06
3 2021-01-07
4 2021-01-08

In [41]:
prediction=model.predict(future_dates)

In [42]:
prediction.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2021-01-04,134.198596,116.341912,146.181251,134.198596,134.198596,-3.013116,-3.013116,-3.013116,-3.013116,-3.013116,-3.013116,0.0,0.0,0.0,131.185479
1,2021-01-05,134.185193,120.679062,152.577479,134.185193,134.185193,2.767874,2.767874,2.767874,2.767874,2.767874,2.767874,0.0,0.0,0.0,136.953067
2,2021-01-06,134.171791,131.760544,162.414119,134.171791,134.171791,12.949177,12.949177,12.949177,12.949177,12.949177,12.949177,0.0,0.0,0.0,147.120968
3,2021-01-07,134.158389,125.473536,156.941915,134.158389,134.158389,7.209386,7.209386,7.209386,7.209386,7.209386,7.209386,0.0,0.0,0.0,141.367775
4,2021-01-08,134.144987,114.375462,148.242660,134.144987,134.144987,-2.962013,-2.962013,-2.962013,-2.962013,-2.962013,-2.962013,0.0,0.0,0.0,131.182974

In [43]:
fig = go.Figure([go.Scatter(x=df['ds'], y=df['y'],mode='lines',
                    name='Actual')])
#You can add traces using an Express plot by using add_trace
fig.add_trace(go.Scatter(x=prediction['ds'], y=prediction['yhat'],
                   mode='lines+markers',
                    name='predicted'))
#To display a figure using the renderers framework, you call the .show() method on a graph object figure, or pass the figure to the plotly.io.show function. 
#With either approach, plotly.py will display the figure using the current default renderer(s).
fig.show()

In [44]:
model1=Prophet(daily_seasonality=True).add_seasonality(name='yearly',period=365,fourier_order=70)

In [45]:
model1.fit(df)

INFO:prophet:Found custom seasonality named 'yearly', disabling built-in 'yearly' seasonality.
INFO:prophet:n_changepoints greater than number of observations. Using 18.
DEBUG:cmdstanpy:input tempfile: /tmp/tmp8ueqfzj0/gf_4k078.json
DEBUG:cmdstanpy:input tempfile: /tmp/tmp8ueqfzj0/adb8_k3i.json
DEBUG:cmdstanpy:idx 0
DEBUG:cmdstanpy:running CmdStan, num_threads: None
DEBUG:cmdstanpy:CmdStan args: ['/usr/local/lib/python3.9/dist-packages/prophet/stan_model/prophet_model.bin', 'random', 'seed=60729', 'data', 'file=/tmp/tmp8ueqfzj0/gf_4k078.json', 'init=/tmp/tmp8ueqfzj0/adb8_k3i.json', 'output', 'file=/tmp/tmp8ueqfzj0/prophet_modelgs3lhcrs/prophet_model-20230402142117.csv', 'method=optimize', 'algorithm=newton', 'iter=10000']
14:21:17 - cmdstanpy - INFO - Chain [1] start processing
INFO:cmdstanpy:Chain [1] start processing
14:21:20 - cmdstanpy - INFO - Chain [1] done processing
INFO:cmdstanpy:Chain [1] done processing

In [46]:
model1.component_modes

{'additive': ['yearly',
  'weekly',
  'daily',
  'additive_terms',
  'extra_regressors_additive',
  'holidays'],
 'multiplicative': ['multiplicative_terms', 'extra_regressors_multiplicative']}

In [47]:
future_dates1=model1.make_future_dataframe(periods=365)

In [48]:
prediction1=model1.predict(future_dates1)

In [50]:
import plotly.graph_objects as go
fig = go.Figure([go.Scatter(x=df['ds'], y=df['y'],mode='lines',
                    name='Actual')])

fig.add_trace(go.Scatter(x=prediction1['ds'], y=prediction1['yhat'],
                   mode='lines+markers',
                    name='predicted'))

fig.show()